<!DOCTYPE html>
<html>
<head>	
	<meta charset="UTF-8">
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<title>User</title>
</head>
<body class="container">
	<h1 style="text-align:right">Hello, {{user.username}} <a class="btn btn-primary" href="/">Log Out</a></h1>
	{% block content %}
	{% endblock content %}
</body>

</html>