{% extends "base.html" %}
{% block content %}
<h1>Edit your personal information</h1>
<br/>
<br/>
<form class="form-horizontal" role="form" action="" method="post">
	<input type="hidden" name="username" id="username" value="{{ user.username }}"/>
	<label>Name:</label>
	<br/>
	<label>{{ user.username }}</label>
	<br/>
	<br/>
	<label>Email:</label>
	<br/>
	<input type="text" name="email" id="email" value="{{ user.email }}"/>
	<br/>
	<br/><label>Real name:</label>
	<br/>
	<input type="text" name="realname" id="realname" value="{{ user.realname }}"/>
	<br/>
	<br/>
	<button class="btn btn-success">Save</button>
	<a class="btn btn-danger" href="/deleteuser?username={{ user.username }}">Delete</a>
</form>
{% endblock content %}