{% extends "base.html" %}
{% block content %}
<h1>{{ user.username }}</h1>
<br/>
<label>Email:</label>
<label>{{ user.email }}</label>
<br/>
<label>Real name:</label>
<label>{{ user.realname }}</label>
<br/>
<a class="btn btn-success" href="/edituser?username={{ user.username }}">Edit</a>
<br/>
<br/>
{% if  followers %}
<label>Followers:</label>
<table class="table">
    <tr>
        <th>User name</th>
        <th>Email</th>
        <th>Real name</th>
    </tr>
    {% for follower in followers %}
    <tr>
        <td>{{ follower.username }}</td>
        <td>{{ follower.email }}</td>
        <td>{{ follower.realname }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% if  following %}
<form class="form-horizontal" role="form" action="/unfollow" method="post">
    <label>Following:</label>
    <table class="table">
        <tr>
            <th>User name</th>
            <th>Email</th>
            <th>Real name</th>
        </tr>
        {% for f in following %}
        <tr>
            <td>{{ f.username }}</td>
            <td>{{ f.email }}</td>
            <td>{{ f.realname }}</td>
            <td><input type="hidden" name="username" id="username" value="{{ user.username }}"/></td>
            <td>
                <button class="btn btn-default" name="follow_username" id="follow_username" value="{{ f.username }}">
                    Unfollow
                </button>
        </tr>
        {% endfor %}
    </table>
</form>
{% endif %}
<br/>
<form class="form-horizontal" role="form" action="" method="post">
    <label>All users on platform except you:</label>
    <table class="table">
        <tr>
            <th>User name</th>
            <th>Email</th>
            <th>Real name</th>
        </tr>
        {% for u in all_users %}
        <tr>
            <td>{{ u.username }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.realname }}</td>
            <td><input type="hidden" name="username" id="username" value="{{ user.username }}"/></td>
            <td>
                <button class="btn btn-default" name="follow_username" id="follow_username" value="{{ u.username }}">
                    Follow
                </button>
        </tr>
        {% endfor %}
    </table>
</form>
{% endblock content %}